 .articlelist li {
   cursor: pointer;
   padding: 10px;
   border-bottom: 1px solid #ddd;
 }

 .article-title {
   font-weight: bold;
 }

 .articlelist li:hover .article-title {
   background-color: #f0f0f0;
 }

 .article-details {
   padding: 10px;
   background-color: #f9f9f9;
   margin-top: 10px;
   border: 1px solid #ddd;
 }